cffi==1.14.0
click==7.1.1
Flask==1.1.1
flask-socketio==4.2.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mypy==0.770
numpy==1.18.2
PrettyTable==0.7.2
pycparser==2.20
sounddevice==0.3.15 
Werkzeug==1.0.0
