<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            //connect to the socket server.
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/');
            //receive details from server
            socket.on('speaker_update', function(msg) {
                $('#log').html(msg.data);
            });
            socket.on('roomlayout_update', function(msg) {
                $('#roomlayout').html(msg.data);
            });
        });
    </script>
</head>
<body>
    <div id="log"></div>
    </br>
    <div>
        <div style="display: block; text-align: center;">Front of Room</span></br>
        <div id="roomlayout" 
            style="border-style: solid; display: inline-flex; border-width: thin; background-color: #efe5d2">
        </div>
    </div>
</body>
</html>