<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css" rel="stylesheet">
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

	<script type="text/javascript" charset="utf-8">

		function initializeChart(DOMelement) {
			const ms = 40;
			const layout_template = {
				title: DOMelement.id,
				margin: { l: ms, r: ms, t: ms, b: ms+20 },
				padding: 40,
				legend: { orientation: 'h' },
				xaxis: { title: "Time" },
				yaxis: { title: "(dB)" },
				autosize: true,
				height: 320,
				font: { family: "arial" }
			};
			const config = {
				displayModeBar: false,
				responsive: true
			};
			let traces = [{
				name: "Loudness",
				y: [0],
				type: 'line'
			}];
			let isSpeaker = DOMelement.id.includes('speaker');
			
			if (isSpeaker) {
				traces.push({
					name: "Gain",
					y: [0],
					type: 'line',
				});
			}


			Plotly.newPlot(DOMelement, traces, layout_template, config)
		}

		$(document).ready(function(){
			//connect to the socket server.
			var socket = io.connect('http://' + document.domain + ':' + location.port + '/');

			const sensor_divs = $('.sensor').toArray();
			const speaker_divs = $('.speaker').toArray();
			const chart_divs = sensor_divs.concat(speaker_divs);


			//receive details from server
			socket.on('system_update', function(msg) {
				const {roomlayout, eventcounter} = msg.data;

				// update html table and room layout
				// $('#log').html(table);
				$('#roomlayout').html(roomlayout);

				if (eventcounter === 100) {
					chart_divs.forEach(chart_div => {
						initializeChart(chart_div);
					});
				}

			});

			// event to update box graphs
			socket.on('update_graphs', function(msg) {
				const {readings, eventcounter} = msg.data;

				// update speaker box graphs

				if (eventcounter >= 100) {
					speaker_divs.forEach((speaker, i) => {
						Plotly.extendTraces(speaker, {
							y: [
								[readings.speakers[i].loudness],
								[readings.speakers[i].gain]
							]
						}, [0, 1]);
					});

					sensor_divs.forEach((sensor, i) => {
						Plotly.extendTraces(sensor, {
							y: [[readings.sensors[i].loudness]]
						}, [0]);
					})
				}
				
			})
			
			
		});
	</script>
</head>

<body>
	<!-- <div id="log"></div> -->

	<main class='main'>

		<div class="row">

			

		</div>

		<div class="bg-gray-200 h-screen flex flex-col">
		  <div class="bg-gray-300  m-2 flex justify-between">
		    <div class="bg-white flex-1 m-2 p-2"><div id="sensor1" class="sensor"></div></div>
		    <div class="bg-white flex-1 m-2 p-2"><div id="sensor2" class="sensor"></div></div>
		    <div class="bg-white flex-1 m-2 p-2"><div id="sensor3" class="sensor"></div></div>
		  </div>

		  <div class="bg-gray-300 m-2 flex justify-between">

		  	<div class="bg-white flex-1 m-2 p-2"><div id="speaker1" class="speaker"></div></div>

		    <div class="flex-1 bg-white">
		    	
		    	<div id="room" class="">
					<div style='text-align: center'>Front of Room</div>

					<div id="roomlayout" 
						style="border-style: solid; border-width: thin; background-color: #efe5d2;">
					</div>
				</div>
		    </div>

		  	<div class="bg-white flex-1 m-2 p-2"><div id="speaker2" class="speaker"></div></div>
		  </div>
		</div>

	</main>

</body>
</html>